#map {
    margin-left: 60px;
}

.map-border {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}
.lineChart{
    stroke: grey;
    stroke-width: 2;
}

.selectbox{
    position: relative;
    left: 750px;
    height: 20px;
}

.selected{
    fill: red;
}

.map-text {
    text-anchor: middle;
}

.map-line {
    stroke: gray;
    stroke-width: 1px;
}

.brush .selection {
    fill-opacity: .5;
}

.line-chart {
    width: 1100px;
    float: left;
}

.bar-chart {
    width: 400px;
    float: left;
}
