.lineChart{
    stroke: grey;
    stroke-width: 2;
}

.selected{
    fill: red;
}

.map-text {
    text-anchor: middle;
}

.map-line {
    stroke: gray;
    stroke-width: 1px;
}

.brush .selection {
    fill-opacity: .25;
}

.axis-ticks {
    font-size: 15px;
}

.bar-chart-text {
    text-anchor: start;
    font-size: 15px;
}

.map-border {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}

#bank-text-div {
    height: 600px;
}

#bank-details {
    height: 200px;
    border-top: 1px solid #fff;
    margin-bottom: 0;
}

#bank-list-div {
    margin-top: 0;
    border-top: 1px solid #fff;
}

#bank-list {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.circle {
    r: 2.5;
    fill: gray;
}

.circle-selected {
    fill: red;
}

.circle-detailed {
    fill: blue;
    r: 4;
}

.bank-list-text {
    font-size: 14px;
    color: steelblue;
    cursor: pointer;
}

#bank-list-div {
    margin-left: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
}
