#map {
    margin-left: 60px;
}

.map-border {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}

.map-text {
    text-anchor: middle;
}

.map-line {
    stroke: gray;
    stroke-width: 1px;
}


